.cardHolder {
  max-width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
  background: #ffffff;
}
.cardBody {
  display: flex;
  overflow: hidden;
}
.userProfilePhoto {
  margin-right: 20px;
}

.userPhoto {
  width: 80px !important;
  height: 80px !important;
}
.userInfo {
  width: 75%;
}
.userDataTitle {
  color: #094067;
  width: 75%;
}
.userDataDescription {
  color: #5f6c7b;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.2em !important;
  max-height: calc(1.2em * 3);
}
.cardFooter {
  margin-top: 5px;
}
.linkGroup {
  display: flex;
  gap: 10px;
}
